{{input
  value=searchval
  class="light"
  placeholder="Filter By Book Name"
}}
<button {{action "handleFilterEntry" this.searchval}} class="btn btn-secondary"> Search </button>

{{yield this.results}}