<article class="listing">
  <div class="details">
    <h3>{{#link-to 'library.authors.showauthor' author}}{{this.author.authorname}}{{/link-to}}</h3>
    <div class="detail owner">
      <span>Country:</span> {{this.author.country}}
    </div>
    <div>
      <a class="btn" {{action "viewbooks" this.author.authorid}}>View Books</a>
      {{#each this.booklist as |book|}}
        <h4>{{book.title}}</h4>
      {{/each}}
    </div>
</div>
<hr>
</article>

