<section>
<center>
<div class="mx-5 px-5">
<h1>Books</h1>
<Filter @filter={{action "filterByBookName"}}
as |filteredResults|>
  <section>
    {{#each filteredResults as |bookUnit|}}
      <BookListing @book={{bookUnit}} />
    {{/each}}
  </section>
</Filter>
</div>
</center>
</section>