<div class="jumbo show-listing">
  <h2 class="title">{{this.model.authorrecord.authorname}}</h2>
  <div class="content">
    <div class="detail-section">
      <div class="detail owner">
        <strong>Country:</strong> {{this.model.authorrecord.country}}
      </div>
    </div>
   <h5>Books :</h5>
    <ul>
      {{#each this.model.bookrecord as |book|}}
          <li>{{#link-to 'library.books.showbook' book}}{{book.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}