<header>
		<nav class="navbar bg-light">
				<a class="navbar-brand text-dark" href="#">LIBRARY WEB APP</a>
				<div class="navbar-nav flex-row">
				      {{#link-to "login" class="btn-lg"}}
				        Login
				      {{/link-to}}
				</div>
		</nav>
</header>
<div class="container-fluid">
		<div class="mt-5 row justify-content-md-center">
				<div class="col col-sm-12 col-md-4">
						<div class="whitebox animated fadeInUp">
								<h1 class="display-4 text-center">
										Sign Up
								</h1>
								<div class="form">
										<div class="form-group">
												<label for="name">Name</label>
												<input type="email" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter name">
										</div>
										<div class="form-group">
												<label for="email">Email address</label>
												<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
										</div>
										<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" name="password" id="password" placeholder="Password">
										</div>	
										<center>
												<button {{action "handleSignUp"}} class="btn btn-lg btn-success">
												<!--<button class="btn btn-lg btn-success" id="quickstart-sign-up" name="signin">-->Sign Up</button>
												<button {{action "sendEmailVerification"}} class="btn btn-lg btn-primary">
												<!--<button class="btn btn-lg btn-primary" id="quickstart-verify-email" name="verify-email">-->Send Email Verification</button>
												<button class="btn btn-lg btn-danger d-none" disabled id="quickstart-password-reset" name="verify-email">Reset Password</button>
										</center>
										<hr>
								</div>
						</div>
				</div>
		</div>
</div>
{{outlet}}